# Hypothesis testing - 4

### Customer+OrderForm.csv Dataset

## TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

### Business objective / problem 

    Objective: To compare and find if there is any significant VARIATION in the Diffective Percentage accross the four centers with 5% significance. 


    Alpha (a) = 0.05 or 5%

    In this case we are comparing more than two samples and the data is categorical. Hence, we use Chi2 Test

### Data Collection
    We need to collect or randomly sample the data set from the population. In rare cases we need to survey to collect the primary data mostly we use the secondary data for analysis. However, problem states that a certain % is randomly sampled for checking, same is provided for Hypothesis testing. We can proceed with our study.
    
    WE ASSUME THAT DATA SETS OF EACH CENTER IS A RANDOM SAMPLE.
    
    Let us use the given data : “LabTAT.csv”

In [1]:
# First thing first Import all the libraries
# %matplotlib inline
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
DF = pd.read_csv('Costomer+OrderForm.csv')

### Data preparation / cleaning
#### Check the attributes of the data, check the integrity of data import into the system

In [3]:
DF.head(2)

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective

In [4]:
DF.shape

(300, 4)

#### Check for data types and decide proper data type for analysis --- it is a catagorical data.

In [5]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

#### Check for null values ------------------ no null values

In [6]:
DF.isnull().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

#### Compare Basic Statistics for Lab_1	Lab_2	Lab_3	Lab_4 (first momentd of business decision)

In [7]:
DF.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

#### -----Manual Preparatin of cross table------- as unable to use crosstab() method.

In [8]:
Cross_Table = pd.DataFrame({
    'Observed Values' : ['Error Free','Defective'], 
    'Phillippines' : [DF.Phillippines.value_counts()[0] ,DF.Phillippines.value_counts()[1]], 
    'Indonesia' : [DF.Indonesia.value_counts()[0] ,DF.Indonesia.value_counts()[1]], 
    'Malta' : [DF.Malta.value_counts()[0] ,DF.Malta.value_counts()[1]], 
    'India' : [DF.India.value_counts()[0] ,DF.India.value_counts()[1]]})

Cross_Table.set_index('Observed Values',inplace=True)
Cross_Table.iloc[0:,0:]

                 Phillippines  Indonesia  Malta  India
Observed Values
Error Free                271        267    269    280
Defective                  29         33     31     20

### Data analysis in the context of business case

#### Constructing Hypothesis
    H0 = Defective percentage / Proportion of all center are equal              
    H1 = Defective percentage / Proportion of atleast one center is not equal

#### CASE for Chi2 Test  -- Chi2_contingency() -- as Categorical data and more than 2 populations to compare
    
    For Chi2 Test following conditions must be satisfied
    
    1. The samples are Random. - ***SAMPLES ARE RANDOM AND INDEPENDENT WE ASSUME***
    2. Minimum of 5 frequencies in each cell of the cross table. - ***DATA SATISFIES THE CONDITION**

#### Calculate p values using Chi2 Test - Chi2_contingency() 
    Mannually pass the values in a nested list or pass the manually created crosstable in the function, Either ways you will get your result

In [9]:
chi_stat, Pval, dfree, Expval = stats.chi2_contingency([[271,267,269,280],[29,33,31,20]])
Expval = pd.DataFrame(Expval)
print('Chi Statistic is {:.2f} and pvalue is {:.2f}'.format(chi_stat, Pval))
print('\n',Expval)

Chi Statistic is 3.86 and pvalue is 0.28

         0       1       2       3
0  271.75  271.75  271.75  271.75
1   28.25   28.25   28.25   28.25

In [10]:
stats.chi2_contingency(Cross_Table)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

#### Check if p value id less than alpha

In [11]:
if Pval <=0.05:
    print('\nThere is sufficient evidence to reject null Hypothesis, Hence, consider "Alternate Hypothesis" and take action\n')
else:
    print('\nThe is not enough evidence to reject null Hypothesis. Hence, we shall continue to trust Null hypothesis\n')

The is not enough evidence to reject null Hypothesis. Hence, we shall continue to trust Null hypothesis

## Inference / conclusion
AS PVALUE IS HIGHER THAN ***ALPHA*** WE CONCLUDE THAT THERE IS NOT ENOUGH EVIDENCE TO REJECT NULL HYPOTHESIS. HENCE, WE CAN DRAW INFERENCE THAT THERE IS NO DIFFERENCE IN THE BUYER RATIONS OF ALL THE REGIONS AND EVEN IF ANY DIFFERENCE OF PROPORTIONS IS NOTED IT IS DUE THE CHANCE ASSOCIATED WITH SAMPLING.

## Hypothesis testing using Critical value
    if observed chi-square < critical chi-square, then variables are not related
    if observed chi-square > critical chi-square, then variables are not independent (and hence may be related).

In [12]:
# using critical value and Chi Statistic to draw conclusions

alpha = 0.05
critical_value = stats.chi2.ppf(q = 1 - alpha,df=dfree)# Find the critical value for 95% confidence*

observed_chi_val = chi_stat
print(critical_value,observed_chi_val,'\n')

print("INTERPRTATION BY CRITICAL VALUE AND CHI STATISTIC")

if observed_chi_val <= critical_value:     # observed value is not in critical area therefore we accept null hypothesis
    print ('Null hypothesis cannot be rejected (variables are not related and independent of each other. \nHence the buyer ratios are equal among all the regions)')
else:   # observed value is in critical area therefore we reject null hypothesis
    print ('Null hypothesis cannot be excepted (variables are not independent)')

7.814727903251179 3.858960685820355

INTERPRTATION BY CRITICAL VALUE AND CHI STATISTIC
Null hypothesis cannot be rejected (variables are not related and independent of each other.
Hence the buyer ratios are equal among all the regions)

## Conclusion using Critical value

You use chi2_contingency when you want to test whether two (or more) groups have the save distribution. Null hypothesis: the two groups have no significant difference.

You use chisquare when you want to test whether one (discrete) random variable has a specific distribution. Null hypothesis: the random variable is not significantly different from the specified distribution.

In summary, you use chi2_contingency when you don't know the underlying distribution but you want to test whether two (or more) groups have the same distribution. You use chisquare when you have a distribution in mind and you want to test whether a group matches that distribution.